.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgb(155, 154, 154);
}

.element {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    padding: 10px 20px;
    gap: 10px;
    width: 500px;
}

.button {
    cursor: pointer;
}

.input {
    width: 100%;
    border: none;
    color: #505050;
    font-size: 20px;
    min-height: 50px;
    font-weight: 100;
}

.input::placeholder {
    color: #e7e7e7;
    font-style: italic;
}

.input:focus {
    border: none;
    outline: none;
}
